# Exercici 1

Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [35]:
import pandas as pd 
import numpy as np

In [36]:
df = pd.read_csv("DelayedFlights.csv", index_col = 0)

C:\Users\Nuria\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [30]:
df.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
10,2008,1,3,4,706.0,700,916.0,915,WN,100,...,5.0,19.0,0,N,0,NaN,NaN,NaN,NaN,NaN
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,2272,...,6.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1936758 entries, 0 to 7009727
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             float64
 20  TaxiOut            float64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 443.3+ MB

In [37]:
df = df.drop(columns = ["CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", 
                        "LateAircraftDelay", "TailNum", "TaxiIn", "TaxiOut",
                        "CancellationCode", "Diverted", "Origin", "Dest"])

In [8]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Cancelled
0,2008,1,3,4,2003.0,1955,2211.0,2225,128.0,150.0,116.0,-14.0,8.0,810,0
1,2008,1,3,4,754.0,735,1002.0,1000,128.0,145.0,113.0,2.0,19.0,810,0
2,2008,1,3,4,628.0,620,804.0,750,96.0,90.0,76.0,14.0,8.0,515,0
4,2008,1,3,4,1829.0,1755,1959.0,1925,90.0,90.0,77.0,34.0,34.0,515,0
5,2008,1,3,4,1940.0,1915,2121.0,2110,101.0,115.0,87.0,11.0,25.0,688,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1936758 entries, 0 to 7009727
Data columns (total 15 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   ActualElapsedTime  float64
 9   CRSElapsedTime     float64
 10  AirTime            float64
 11  ArrDelay           float64
 12  DepDelay           float64
 13  Distance           int64
 14  Cancelled          int64
dtypes: float64(7), int64(8)
memory usage: 236.4 MB

# Exercici 2

Fes un informe complet del data set:

* Resumeix estadísticament les columnes d’interès

In [25]:
print("Mitjana ActualElapsedTime:", df["ActualElapsedTime"].mean())
print("Desviació estàndar ActualElapsedTime:", df["ActualElapsedTime"].std())
print("Mediana ActualElapsedTime:", df["ActualElapsedTime"].median())
print("Moda ActualElapsedTime:", df["ActualElapsedTime"].mode())
print("En minuts")

Mitjana ActualElapsedTime: 133.30586334268665
Desviació estàndar ActualElapsedTime: 72.06006897518652
Mediana ActualElapsedTime: 116.0
Moda ActualElapsedTime: 0    80.0
dtype: float64
En minuts

In [26]:
print("Mitjana CRSElapsedTime:", df["CRSElapsedTime"].mean())
print("Desviació estàndar CRSElapsedTime:", df["CRSElapsedTime"].std())
print("Mediana CRSElapsedTime:", df["CRSElapsedTime"].median())
print("Moda CRSElapsedTime:", df["CRSElapsedTime"].mode())
print("En minuts")

Mitjana CRSElapsedTime: 134.3027440409799
Desviació estàndar CRSElapsedTime: 71.34143888168691
Mediana CRSElapsedTime: 116.0
Moda CRSElapsedTime: 0    75.0
dtype: float64
En minuts

In [27]:
print("Mitjana AirTime:", df["AirTime"].mean())
print("Desviació estàndar AirTime:", df["AirTime"].std())
print("Mediana AirTime:", df["AirTime"].median())
print("Moda AirTime:", df["AirTime"].mode())
print("En minuts")

Mitjana AirTime: 108.27714739539228
Desviació estàndar AirTime: 68.6426101386457
Mediana AirTime: 90.0
Moda AirTime: 0    45.0
dtype: float64
En minuts

In [28]:
print("Mitjana ArrDelay:", df["ArrDelay"].mean())
print("Desviació estàndar ArrDelay:", df["ArrDelay"].std())
print("Mediana ArrDelay:", df["ArrDelay"].median())
print("Moda ArrDelay:", df["ArrDelay"].mode())
print("En minuts")

Mitjana ArrDelay: 42.19988477321014
Desviació estàndar ArrDelay: 56.78471513743561
Mediana ArrDelay: 24.0
Moda ArrDelay: 0    10.0
dtype: float64
En minuts

In [29]:
print("Mitjana DepDelay:", df["DepDelay"].mean())
print("Desviació estàndar DepDelay:", df["DepDelay"].std())
print("Mediana DepDelay:", df["DepDelay"].median())
print("Moda DepDelay:", df["DepDelay"].mode())
print("En minuts")

Mitjana DepDelay: 43.185176464999756
Desviació estàndar DepDelay: 53.40250234363254
Mediana DepDelay: 24.0
Moda DepDelay: 0    6.0
dtype: float64
En minuts

In [30]:
print("Mitjana Distance:", df["Distance"].mean())
print("Desviació estàndar Distance:", df["Distance"].std())
print("Mediana Distance:", df["Distance"].median())
print("Moda Distance:", df["Distance"].mode())
print("En milles")

Mitjana Distance: 765.6861590348407
Desviació estàndar Distance: 574.4796530725632
Mediana Distance: 606.0
Moda Distance: 0    337
dtype: int64
En milles

In [42]:
print("Vols cancel·lats:", "\n", df[df["Cancelled"] == 1].count(), "\n")
print("Vols no cancel·lats:", "\n", df[df["Cancelled"] == 0].count())

Vols cancel·lats:
 Year                     633
Month                    633
DayofMonth               633
DayOfWeek                633
DepTime                  633
CRSDepTime               633
ArrTime                    0
CRSArrTime               633
UniqueCarrier            633
ActualElapsedTime          0
CRSElapsedTime           633
AirTime                    0
ArrDelay                   0
DepDelay                 633
Distance                 633
Cancelled                633
DistanceKm               633
AirTimeH                   0
FlightSpeed                0
LateLanding              633
LateTakeOff              633
ElapsedTimeDifference      0
dtype: int64

Vols no cancel·lats:
 Year                     1936125
Month                    1936125
DayofMonth               1936125
DayOfWeek                1936125
DepTime                  1936125
CRSDepTime               1936125
ArrTime                  1929648
CRSArrTime               1936125
UniqueCarrier            1936125
ActualElapsedTime        1928371
CRSElapsedTime           1935927
AirTime                  1928364
ArrDelay                 1928371
DepDelay                 1936125
Distance                 1936125
Cancelled                1936125
DistanceKm               1936125
AirTimeH                 1928364
FlightSpeed              1928364
LateLanding              1936125
LateTakeOff              1936125
ElapsedTimeDifference    1928371
dtype: int64

* Troba quantes dades faltants hi ha per columna

In [4]:
df.isna().sum()

Year                    0
Month                   0
DayofMonth              0
DayOfWeek               0
DepTime                 0
CRSDepTime              0
ArrTime              7110
CRSArrTime              0
ActualElapsedTime    8387
CRSElapsedTime        198
AirTime              8387
ArrDelay             8387
DepDelay                0
Distance                0
Cancelled               0
dtype: int64

* Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)

In [38]:
df["DistanceKm"] = df["Distance"] * 1.60934
df["AirTime"].replace(0, np.nan, inplace = True)
df["AirTimeH"] = df["AirTime"] / 60
df["FlightSpeed"] = df["DistanceKm"] / df["AirTimeH"]
print("Velocitat mitjana de vol:", df["FlightSpeed"].mean(), "km/h")

Velocitat mitjana de vol: 638.8318056975423 km/h

In [39]:
df["LateLanding"] = df["ArrDelay"] > 0

In [40]:
df["LateTakeOff"] = df["DepDelay"] > 0

In [41]:
df["ElapsedTimeDifference"] = df["CRSElapsedTime"] - df["ActualElapsedTime"]

In [42]:
df["ArrivalDifference"] = df["CRSArrTime"] - df["ArrTime"]

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1936758 entries, 0 to 7009727
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Year                   int64
 1   Month                  int64
 2   DayofMonth             int64
 3   DayOfWeek              int64
 4   DepTime                float64
 5   CRSDepTime             int64
 6   ArrTime                float64
 7   CRSArrTime             int64
 8   UniqueCarrier          object
 9   FlightNum              int64
 10  ActualElapsedTime      float64
 11  CRSElapsedTime         float64
 12  AirTime                float64
 13  ArrDelay               float64
 14  DepDelay               float64
 15  Distance               int64
 16  Cancelled              int64
 17  DistanceKm             float64
 18  AirTimeH               float64
 19  FlightSpeed            float64
 20  LateLanding            bool
 21  LateTakeOff            bool
 22  ElapsedTimeDifference  float64
 23  ArrivalDifference      float64
dtypes: bool(2), float64(12), int64(9), object(1)
memory usage: 343.5+ MB

* Taula de les aerolínies amb més endarreriments acumulats

In [59]:
late = df["LateLanding"] == True
df[late]["UniqueCarrier"].value_counts()

WN    324717
AA    172197
MQ    130647
UA    123989
OO    121942
DL    100923
XE     94313
CO     83646
US     83262
EV     75170
NW     72395
FL     65008
YV     63289
OH     49104
B6     48177
9E     46896
AS     34179
F9     25708
HA      7199
AQ       654
Name: UniqueCarrier, dtype: int64

* Quins són els vols més llargs?

In [49]:
df = df.sort_values(by=["Distance"], ascending = False)
print(df.loc[:, "FlightNum"])

4200196      14
6979519      14
2353671      15
6982535      14
566426       15
           ...
4989833    6898
151660     5610
1637250    2009
2547298    4988
4392215    5572
Name: FlightNum, Length: 1936758, dtype: int64

* I els més endarrerits?

In [50]:
df = df.sort_values(by=["ArrivalDifference"], ascending = False)
print(df.loc[:, "FlightNum"])

3141287    7164
4542789    1424
569540      209
1532432     372
4761533    2246
           ...
538552       65
535448       64
2927797      65
1107749      64
541506       64
Name: FlightNum, Length: 1936758, dtype: int64

* Etc.

* Relació entre endarreriment i distància recorreguda

In [55]:
#df["Month"].corr(df["LateLanding"])
late = df["LateLanding"] == True
df[late]["Month"].value_counts()

6     182955
12    182945
3     179833
2     171311
7     164534
1     163801
8     143013
4     137941
5     135421
11     90855
10     87989
9      82817
Name: Month, dtype: int64

* Relació entre endarreriment i dia de la setmana

In [56]:
df[late]["DayOfWeek"].value_counts()

5    291280
1    258998
4    258790
7    254550
3    233500
2    232407
6    193890
Name: DayOfWeek, dtype: int64

* Correlació distància i enrederiment d'arribada

In [57]:
df["Distance"].corr(df["ArrDelay"])

-0.02985259624177865

* Correlació enrederiment de sortida i d'arribada

In [58]:
df["DepDelay"].corr(df["ArrDelay"])

0.9529266852026773

* Correlació enrederiment de sortida i velocitat de vol

In [59]:
df["DepDelay"].corr(df["FlightSpeed"])

-0.021017359921312054

In [65]:
#df.to_excel(pd.ExcelWriter("DelayedFlightsNet.xlsx"))
df.to_csv("DelayedFlightsNet.csv")